<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Lisää uusi merkkipäivä</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${contact}" method="post">
 
<div alight="left">
            <tr>
                <label class="form-label" >Nimi</label>
                <td>
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{contactname}" class="form-control" placeholder="Nimi" required/>
                </td>
            </tr>
         </div>  
            
           <div alight="left">
          
            <tr>
                 <label class="form-label" >Info</label>
                <td><input type="text" th:field="*{info}" class="form-control" placeholder="Info" /></td>
            </tr>
            </div>
<!--             <div alight="left"> -->
<!--                  <tr> -->
<!--                  <label class="form-label" >Ikä</label> -->
<!--                 <td><input type="text" th:field="*{age}" class="form-control" placeholder="Ikä" /></td> -->
<!--             </tr> -->
<!--             </div> -->
            <div alight="left">
                 <tr>
                 <label class="form-label" >Syntymäpäivä</label>
                <td><input type="date" th:field="*{birthdate}" class="form-control" placeholder="Syntymäpäivä" required/></td>
            </tr>
            </div>
<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Tallenna</button> </td>
            </tr>
        </table> 
    </form>
</div>
</body>
</html>